.spDoublePlay  {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.spVideoInternet  {
    width: auto;
    /* vertical-align: top; */
    display: block;
}
.spVHeader {
    border: 1px solid rgb(204, 204, 204);
    border-image: none;
    height: 40px;
    color: rgb(255, 255, 255);
    padding-top: 20px;
    cursor: pointer;
    background-color: rgb(0, 90, 132);
}
.spVHeaderIcon {
    padding-left: 5px;
    vertical-align: top;
    display: inline-block;
    visibility: visible;
    transform: translateY(-50%);
}

.spVHeaderLabel  {
    padding-left: 5px;
    display: inline-block;
    transform: translateY(-50%);
}
.formGroupStyle {
    display: inline-block;
}
.labelStyle {
    text-align: right;
    margin-top: 7px;
}
.spVHeaderPrice {
    padding-right: 40px;
    padding-left: 5px;
    display: block;
    float: right;
    transform: translateY(-50%);
}
.spVHeaderParentPriceStyle {
    background: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-image: none;
    color: rgb(255, 255, 255);
}
.spVHeaderChildPriceStyle {
    background: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-image: none;
    color: rgb(0,0,0);
}
.spVSection {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.spParent {
    margin: 1px;
    border: medium;
    border-image: none;
    height: 40px;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    cursor: pointer;
    background-color: rgb(242, 242, 242);
}
.checkboxStyle {
    padding-left: 5px;
    display: inline-block;
}
.checkboxIcon {
    margin: 0px;
}
.checkboxLabel {
    padding-left: 5px;
}
.infoCircle {
    color: rgb(0, 90, 132);
    padding-left: 0.5em;
    cursor: pointer;
}
.spChild {
    height: 28px;
    padding-top: 14px;
}